body {
  background-color: var(--light);
}

.admin-dashboard-content {
  text-align: center;
}

.dashboard-heading {
  color: black;
  text-align: left;
  margin-left: clamp(18%, -2rem + 8.333vw, 10%);
  font-size: clamp(2rem, -2rem + 8.333vw, 2.5rem);
  padding: 0.5em;
}

.section-container {
  display: flex;
  justify-content: center;
}

.section-items {
  border: var(--accent) 1px solid;
  border-radius: var(--radius);
  background-color: white;
  color: black;
  margin: 1.5rem;
  min-width: 12%;
}

@media only screen and (max-width: 800px) {
  .section-items {
    margin: 0.5rem;
    min-width: 12%;
  }
}

.section-items > h2 {
  font-size: 1.5rem;
}

.section-items-desc {
  color: rgb(109, 107, 107);
  font-size: 1rem;
  font-size: clamp(0.7rem, -2rem + 8.333vw, 1rem);
  padding: 0.5rem;
}

.sales-graph-container {
  justify-content: center;

  margin: 0 auto;
  background-color: white;
  width: 90%;
  height: 35%;
  min-width: none;
  min-height: 35vh;
  border: var(--accent) 1px solid;

  /*   
position: absolute;
height: 546px;
left: 285px;
right: 33px;
top: 292px; */
}

.sales-graph-heading {
  display: flex;
  color: black;
  text-align: left;
  padding-left: 5%;
}

.sales-graph-date-range {
  color: black;
  text-align: left;
  padding-left: 5%;
}
