.admin-dashboard-content {
    text-align: center;
}

.dashboard-heading {
}

.section-container {
    display: flex;
    justify-content: space-around;
}

.section-items {
    border: var(--accent) 1px solid;
    background-color: var(--text);
    color: black;
    margin: 1rem;
    min-width: 15%;

}

.section-items >h2{
    font-size: 1.5rem;

}

.section-items > p{
    color: black;
    font-size: 1rem;
    padding: .5rem;
}