body {
  background-color: var(--light);
}

.admin-dashboard-content {
  text-align: center;
  height: 100vh;
}

.dashboard-heading {
  color: black;
  text-align: left;
  margin-left: clamp(18%, -2rem + 8.333vw, 10%);
  font-size: clamp(2rem, -2rem + 8.333vw, 2.5rem);
  padding: 0.5em;
}

.section-container {
  display: flex;
  justify-content: center;
}

.section-items {
  border: var(--accent) 1px solid;
  border-radius: var(--radius);
  background-color: white;
  color: black;
  margin: 1.5rem;
  min-width: 12%;
}

@media only screen and (max-width: 800px) {
  .section-items {
    margin: 0.5rem;
    min-width: 12%;
  }
}

.section-items > h2 {
  font-size: 1.5rem;
}

.section-items-desc {
  color: rgb(109, 107, 107);
  font-size: 1rem;
  font-size: clamp(0.7rem, -2rem + 8.333vw, 1rem);
  padding: 0.5rem;
}

.sales-graph-container {
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  width: 80%;
  height: 40%;
  min-width: none;
  border: var(--accent) 1px solid;
  border-radius: var(--radius);
}

@media only screen and (max-width: 800px) {
  .sales-graph-container {
    width: 97%;
  }
}

.sales-graph-heading {
  color: rgb(32, 32, 32);
  padding-top: 5px;
}

.sales-graph-date-range {
  color: rgb(187, 184, 184);
}

.sales-graph-date-range,
.sales-graph-heading {
  display: flex;
  text-align: left;
  padding-left: 3%;
}

.graph {
    color: black;
    font-size: 3rem;
}
