/*=============================================
=                  INVENTORY                 =
=============================================*/

.section-center {
  background: rgba(0, 0, 0, 0.199);
  border-radius: 0.25rem;
  box-shadow: rgba(128, 128, 128, 0.212);
  transition: all 0.3s linear;
  padding: 2rem;
}
.section-center:hover {
  box-shadow: rgba(44, 44, 44, 0.589);
}

input:hover::placeholder {
  color: var(--light);
}

.truckload-inputs {
  width: 28rem;
  background-color: var(--light);
  color: var(--light-gray);
  text-align: center;
}

.truckLoad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  transition: var(--transition);
  padding: 0.5rem 0;
  text-transform: capitalize;
  background: white;
  padding-bottom: 6px;
}

.truckLoad > p {
  color: black;
}

.truckLoad:hover {
  color: gray;
  background: var(--gray);
}

.truckLoad:hover > .items {
  color: var(--text);
}

.truckLoad:hover > button {
  color: var(--text);
}

.truckLoad:hover > .items > p {
  color: var(--text);
}

.items {
  margin-bottom: 0;
  justify-content: center;
  /* text-align: center; */
  color: var(--dark);
  letter-spacing: 2px;
  transition: var(--transition);
}

.truck {
  width: 30%;
  color: white;
}
.price {
  width: 15%;
  color: white;
}
.contents {
  width: 40%;
  color: white;
}
.manifest {
  width: 15%;
  color: white;
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0.25rem;
  background: var(--sections);
}

.side-btn-container {
  width: 5%;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: rgb(3, 129, 3);
}
.edit-btn:hover {
  color: rgb(8, 228, 8);
}
.delete-btn {
  color: rgb(170, 5, 5);
}
.delete-btn:hover {
  color: rgb(248, 0, 0);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: red;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: rgb(110, 14, 14);
}

.truckLoad-list {
  border-radius: 0.25em;
}

.truckLoad:nth-child(even) {
  background: rgb(194, 192, 192);
}

.truckLoad:nth-child(even):hover {
  background: var(--gray);
}

.folder-icon {
  background-color: transparent;
  border: none;
}

/*=============================================
=           INVENTORY ALL TRUCKS             =
=============================================*/

.table-wrapper {
  align-self: center;
  padding: 2rem;
}

span.all-trucks-table-header-name {
  width: 33%;
}
span.all-trucks-table-header-price {
  width: 15%;
  align-self: center;
}
span.all-trucks-table-header-contents {
  width: 30%;
}
span.all-trucks-table-header-manifest {
  width: 5%;
  text-align: right;
  padding-right: .2rem;
}
span.all-trucks-table-header-status {
  width: 6%;
  text-align: right;
  padding-right: 1.5rem;
}

.all-trucks-name {
  width: 33%;
  padding-left: .4rem;
}
.all-trucks-price {
  width: 16%;
}
.all-trucks-contents {
  width: 35%;
}
.all-trucks-manifest {
  width: 5%;
}
.all-trucks-status {
  width: 8%;
  text-align: center;
}

.available-status {
  padding: .2rem;
  margin: 0 1rem;
  border: green 1px solid;
  width: 75%;
  color: white;
  background-color:rgb(5, 153, 5);
  border-radius: 100px;
  font-size: .4rem;
}
.not-available-status {
  padding: .2rem .4rem .2rem .2rem;
  margin: 0 1rem;
  border: red 1px solid;
  width: 90%;
  color: white;
  background-color:rgb(212, 7, 7);
  border-radius: 100px;
  font-size: .4rem;
}

@media only screen and (min-width: 768px) {
  .not-available-status {
    padding: .2rem .4rem .2rem .2rem;
    margin: .25 .08rem;
    border: red 1px solid;
    width: 75%;
    color: white;
    background-color:rgb(212, 7, 7);
    border-radius: 100px;
    font-size: .4rem;
  }
}

.no-icon {
  align-self: center;
  text-justify: center
}

/*=============================================
=               TRUCK DETAILS               =
=============================================*/

.back-to-link-container {
  padding-left: 1rem;
  padding-top: 1rem;
}
.back-to-link {
  padding-left: .5rem;
  color: black;
}
.truck-section {
  /* text-align: center; */
  padding: 5rem 0;
}
.truck-details-header {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.truck {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  text-align: left;
  /* text-align: space-between;
  justify-content: space-between; */
}
.truck img {
  border-radius: var(--radius);
}
.truck p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.truck span {
  margin-right: 0.5rem;
}
.truck-data-title {
  background: var(--text);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  color: var(--sections);
}
.truck-data-edit {
  background: rgba(0, 128, 0, 0.096);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  color: green;
}
.truck-data-delete {
  background: rgba(255, 0, 0, 0.068);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  color: red;
}
.truck-data {
  align-self: right;
}
.truck-info {
  padding-top: 2rem;
}

ul, li {
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.data-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0
}

@media screen and (min-width: 992px) {
  .truck {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .truck-info {
    padding-top: 0;
  }
}
.delete-truck-btn {
  background: transparent;
  border-color: transparent;
  color: var(--sections); /* root styles */
  transition: var(--transition); /* root styles */
  cursor: pointer;
  color: rgb(114, 3, 3);
  margin-top: 0.2rem;
  outline: none;
}
.delete-truck-btn:hover {
  color: rgb(241, 129, 129);
}
.edit-truck-btn {
  background: transparent;
  border-color: transparent;
  color: var(--sections); /* root styles */
  transition: var(--transition); /* root styles */
  cursor: pointer;
  color: rgb(4, 102, 37);
  margin-top: 0.2rem;
  outline: none;
}
.edit-truck-btn:hover {
  color: rgba(9, 167, 48, 0.507);
}

/*=============================================
=            UPDATE TRUCK DETAILS             =
=============================================*/

.update-truck-form-container {
  display: flex;
}
.update-truck-form {
  margin: 2rem auto;
  width: 40%;
}

.update-truck-header {
  color: black;
  font-family: var(--font-fam);
  text-align: center;
  margin-top: 2rem;
}
