/*=============================================
=                  INVENTORY                 =
=============================================*/

.section-center {
  background: rgba(0, 0, 0, 0.199);
  border-radius: 0.25rem;
  box-shadow: rgba(128, 128, 128, 0.212);
  transition: all 0.3s linear;
  padding: 2rem;
}
.section-center:hover {
  box-shadow: rgba(44, 44, 44, 0.589);
}

input:hover::placeholder {
  color: var(--light);
}

.truckload-inputs {
  width: 28rem;
  background-color: var(--light);
  color: var(--light-gray);
  text-align: center;
}

.truckLoad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  transition: var(--transition);
  padding: 0.5rem 0;
  text-transform: capitalize;
  background: white;
  padding-bottom: 6px;
}

.truckLoad > p {
  color: black;
}

.truckLoad:hover {
  color: gray;
  background: var(--gray);
}

.truckLoad:hover > .items {
  color: var(--text);
}

.truckLoad:hover > button {
  color: var(--text);
}

.truckLoad:hover > .items > p {
  color: var(--text);
}

.table-id-link {
  color: var(--dark);
  letter-spacing: 2px;
}

.header-items {
  background: var(--sections);
  color: white;
}

.side-btn-container {
  width: 5%;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: rgb(3, 129, 3);
}
.edit-btn:hover {
  color: rgb(8, 228, 8);
}
.delete-btn {
  color: rgb(170, 5, 5);
}
.delete-btn:hover {
  color: rgb(248, 0, 0);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: red;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: rgb(110, 14, 14);
}

.truckLoad-list {
  border-radius: 0.25em;
}
.status-row-green {
  background-color: var(--status-green);
}
.status-row-red {
  background-color: var(--status-red);
}
.status-row-yellow {
  background-color: var(--status-yellow);
}

.legend-container {
  color: black;
  float: right;
  margin-right: 2rem;
  padding: 1rem;
}

.table-top-container {
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
}

.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 0.25rem;
  border: 1px solid black;
  clear: both;
}

.red {
  background-color: var(--status-red);
}

.green {
  background-color: var(--status-green);
}

.yellow {
  background-color: var(--status-yellow);
}

.folder-icon {
  background-color: transparent;
  border: none;
}

/*=============================================
=           INVENTORY ALL TRUCKS             =
=============================================*/

.table-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  margin: 0 auto;
}

th {
  cursor: pointer;
}

.inventory-table {
  width: 100%;
}

.table-and-sidebar-container {
  display: flex;
  flex-direction: column;
}
.narrow-sidebar {
  position: fixed;
  top: 12;
  bottom: 0;
  left: 0;
  height: 88.3%;
  width: 15%;
  padding: 2rem 1rem 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

/*=============================================
=               TRUCK DETAILS               =
=============================================*/

.truck-section {
  text-align: center;
  padding: 1rem 0;
}
.truck {
  margin: 0 auto;
}
.card:nth-child(even) {
  background: rgba(194, 192, 192, 0.199);
}

.contents-accordion {
  background: rgba(194, 192, 192, 0.199);
}

.truck-details-header {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.truck {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  text-align: left;
  text-align: space-between;
}
.truck img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  padding-top: 2rem;
}
.truck p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}

.truck-data-title {
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  color: var(--sections);
}
.truck-data-edit {
  background: rgba(0, 128, 0, 0.096);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  color: green;
}
.truck-data-delete {
  background: rgba(255, 0, 0, 0.068);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  color: red;
}
.truck-data {
  align-self: right;
  padding-right: 0.5rem;
}
.truck-info {
  padding-top: 2rem;
}

ul,
li {
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.data-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

@media screen and (min-width: 992px) {
  .truck {
    display: grid;
    grid-template-columns: 3fr 3fr;
    gap: 3rem;
  }
  .truck-info {
    padding-top: 0;
  }
}
/*=============================================
=         TRUCK DETAILS TOP BUTTONS           =
=============================================*/

.truck-details-links-container {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  flex-wrap: wrap;
  display: flex;
  margin-right: 40%;
  padding-left: 1rem;
  padding-top: 1rem;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .truck-details-links-container {
    display: flex;
    margin-right: 0;
    padding: 1rem;
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .truck-details-links-container {
    display: flex;
    margin-right: 0;
    padding-left: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
  }
}
.back-to-link {
  padding-left: 0.5rem;
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: pointer;
  color: rgb(23, 3, 114) !important;
}
.delete-truck-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: pointer;
  color: rgb(114, 3, 3) !important;
}
.edit-truck-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: pointer;
  color: rgb(4, 102, 37) !important;
}
.add-image-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: pointer;
  color: rgb(4, 55, 102) !important;
}
.edit-notes-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: pointer;
  color: rgb(23, 3, 114) !important;
}
.cancel-update-notes {
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: pointer;
  color: rgb(114, 3, 3) !important;
}

.back-to-link:hover {
  color: rgb(119, 119, 119) !important;
  text-decoration: none;
}
.delete-truck-btn:hover {
  color: rgb(241, 129, 129) !important;
  text-decoration: none;
}
.edit-truck-btn:hover {
  color: rgba(9, 167, 48, 0.507) !important;
  text-decoration: none;
}
.add-image-btn:hover {
  color: rgba(5, 82, 145, 0.555) !important;
  text-decoration: none;
}
.edit-notes-btn:hover {
  color: rgb(111, 116, 187) !important;
  text-decoration: none;
}
.cancel-update-notes:hover {
  color: rgb(187, 111, 111) !important;
  text-decoration: none;
}

.show-more-btn {
  padding: 0.1rem 0.2rem;
  margin-left: 0.25rem;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.096);
}
.notes-header-wrapper {
  display: flex;
  justify-content: space-between;
}
.edit-notes-header-btn {
  padding: 0 0.5rem;
}
/*=============================================
=            UPDATE TRUCK DETAILS             =
=============================================*/

.update-truck-form-container {
  display: flex;
}
.update-truck-form {
  margin: 2rem auto;
  width: 40%;
}

.update-truck-header {
  color: black;
  font-family: var(--font-fam);
  text-align: center;
  margin-top: 2rem;
}

.card-header {
  padding: 0;
}
