/*=============================================
=                  INVENTORY                 =
=============================================*/

.section-center {
  background: rgba(0, 0, 0, 0.199);
  border-radius: 0.25rem;
  box-shadow: rgba(128, 128, 128, 0.212);
  transition: all 0.3s linear;
  padding: 2rem;
}
.section-center:hover {
  box-shadow: rgba(44, 44, 44, 0.589);
}

input:hover::placeholder {
  color: var(--light);
}

.truckload-inputs {
  width: 28rem;
  background-color: var(--light);
  color: var(--light-gray);
  text-align: center;
}

.truckLoad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  transition: var(--transition);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  background: white;
  padding-bottom: 6px;
}

.truckLoad > p {
  color: black;
}

.truckLoad:hover {
  color: gray;
  background: var(--gray);
}

.truckLoad:hover > .items {
  color: var(--text);
}

.truckLoad:hover > button {
  color: var(--text);
}

.truckLoad:hover > .items > p {
  color: var(--text);
}

.items {
  margin-bottom: 0;
  justify-content: center;
  /* text-align: center; */
  color: var(--dark);
  letter-spacing: 2px;
  transition: var(--transition);
}

.truck {
  width: 25%;
  color: white;
}
.price {
  width: 15%;
  color: white;
}
.contents {
  width: 40%;
  color: white;
}
.manifest {
  width: 15%;
  color: white;
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  background: var(--sections);
}

.side-btn-container {
  width: 5%;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: rgb(3, 129, 3);
}
.edit-btn:hover {
  color: rgb(8, 228, 8);
}
.delete-btn {
  color: rgb(170, 5, 5);
}
.delete-btn:hover {
  color: rgb(248, 0, 0);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: red;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: rgb(110, 14, 14);
}

.truckLoad-list {
  border-radius: 0.25em;
}

.truckLoad:nth-child(even) {
  background: rgb(194, 192, 192);
}

.truckLoad:nth-child(even):hover {
  background: var(--gray);
}

.folder-icon {
  background-color: transparent;
  border: none;
}

/*=============================================
=           INVENTORY ALL TRUCKS             =
=============================================*/

.table-wrapper {
  align-self: center;
  padding: 2rem;
}

.all-trucks-table-header-name {
  width: 39%;
}
p.all-trucks-table-header-price {
  width: 20%;
}
p.all-trucks-table-header-contents {
  width: 42%;
}
p.all-trucks-table-header-manifest {
  width: 10%;
  text-align: right;
  padding-right: .2rem;
}

.all-trucks-name {
  width: 33%;
}
.all-trucks-price {
  width: 18%;
}
.all-trucks-contents {
  width: 42%;
}
.all-trucks-manifest {
  width: 10%;
}
