/* INVENTORY */
p {
  padding: 0;
  margin: 0;
}

.section-center {
  background: rgba(0, 0, 0, 0.199);
  border-radius: 0.25rem;
  box-shadow: rgba(128, 128, 128, 0.212);
  transition: all 0.3s linear;
  padding: 2rem;
}
.section-center:hover {
  box-shadow: rgba(44, 44, 44, 0.589);
}

.form-control {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

input:hover::placeholder {
  color: var(--light);
}

.truckLoad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  transition: var(--transition);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  background: white;
  padding-bottom: 6px;
}

.truckLoad:hover {
  color: gray;
  background: var(--dark-gray);
}

.truckLoad:hover > .items {
  color: var(--text);
}

.items {
  margin-bottom: 0;
  justify-content: center;
  /* text-align: center; */
  color: var(--dark);
  letter-spacing: 2px;
  transition: var(--transition);
}
.truck {
  width: 30%;
}
.price {
  width: 15%;
}
.contents {
  width: 45%;
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  background: var(--sections);
}

.side-btn-container {
  width: 5%;
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0.15rem;
  transition: var(--transition);
}
.edit-btn {
  color: rgb(3, 129, 3);
}
.edit-btn:hover {
  color: rgb(8, 228, 8);
}
.delete-btn {
  color: rgb(170, 5, 5);
}
.delete-btn:hover {
  color: rgb(248, 0, 0);
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: red;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: rgb(110, 14, 14);
}

.truckLoad-list {
  border-radius: 0.25em;
}

.truckLoad:nth-child(even) {
  background: rgb(194, 192, 192);
}
.truckLoad:nth-child(even):hover {
  background: black;
}

/* INVENTORY ALL TRUCKS */

.table-wrapper {
  align-self: center;
  padding: 2rem;
}

.all-trucks-table-header-name {
  width: 35%;
}
p.all-trucks-table-header-price {
  width: 18%;
}
p.all-trucks-table-header-contents {
  width: 42%;
}

.all-trucks-name {
  width: 35%;
}
.all-trucks-price {
  width: 18%;
}
.all-trucks-contents {
  width: 42%;
}

.download-manifest {
  display: flex;
  padding: 5px;
  border-color: transparent;
  width: auto;
  height: auto;
  min-width: 10rem;
  min-height: 2rem;
  background: var(--sections);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--text);
  cursor: pointer;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(59, 75, 119, 0.45);
  text-shadow: 0px 4px 4px rgba(164, 188, 236, 0.45);
  outline-style: none;
  text-align: center;
  margin: 1% 0%;
  font-size: 1rem;
}

.download-manifest:hover {
  background-color: transparent;
}
