ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  /* color: var(--text); */
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}


/*=============================================
=                   SIDEBAR             =
=============================================*/

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  color: var(--sections);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  outline: none;
}

.sidebar-toggle-dis {
  display: none;
  color: transparent;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.modal-btn {
  position: fixed;
  top: 2rem;
  right: 3rem;
  text-transform: uppercase;
  background: var(--sections);
  color: white;
  padding: 0.75rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.3rem;
  outline: none;
  border: none;
}
.modal-btn:hover {
  transition: var(--transition);
  background-color: var(--sections-hover);
}


/*=============================================
=                   MODAL            =
=============================================*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition); /* root styles */
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: transparent;
  border-radius: var(--radius); /* root styles */
  width: 90vw;
  height: 30vh;
  height: 42%;
  max-width: 40%;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  border-radius: var(--radius);
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 6rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(212, 31, 31);
  cursor: pointer;
  outline: none;
}

.close-modal-btn:hover {
  color: rgb(245, 109, 109);
}

.no-account {
  padding: 1rem;
  color: white;
}

.no-account:hover {
  color: rgb(218, 216, 216);
}

.submit-modal-btn {
  border-color: transparent;
  width: clamp(8rem, -0.875rem + 8.333vw, 10rem);
  height: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
  min-width: 6rem;
  min-height: 2rem;
  background: var(--sections);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--text);
  cursor: pointer;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(59, 75, 119, 0.45);
  text-shadow: 0px 4px 4px rgba(164, 188, 236, 0.45);
  outline-style: none;
  text-align: center;
  margin: 1% 0 4%;
  font-size: 1.5rem;
}

.submit-modal-btn:hover {
  background-color: var(--sections-hover);
}


.modal-backdrop-bg  {
  background-color: black !important;
}

.modal-content{
  background-color: transparent !important;
  border: none !important;
}

.modal-header {
  border-bottom: none !important;
  color: var(--light);
  padding: .5rem .5rem .5rem .5rem !important; 
}

.modal-footer {
  border-top: none !important;
}

.files-modal {
  border-radius: 4%;
  background-color: white;
  text-align: "center";
}

.btn {
  padding: 1rem .8rem;
}
/*=============================================
=                   SIDEBAR            =
=============================================*/

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  background: transparent;
  border-color: transparent;
  color: var(--sections); /* root styles */
  transition: var(--transition); /* root styles */
  cursor: pointer;
  color: rgb(114, 3, 3);
  margin-top: 0.2rem;
  outline: none;
}
.close-btn:hover {
  color: rgb(241, 129, 129);
}
.logo {
  justify-self: center;
  height: 40px;
}

.links {
  flex-direction: column;
}
.links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--text);
  transition: var(--transition); /* root styles */
  letter-spacing: var(--spacing); /* root styles */
}

.links a:hover {
  background: transparent;
  color: var(--sections);
}
.links a svg {
  font-size: 1.5rem;
  color: var(--text);
  margin-right: 0.75rem;
  transition: var(--transition); /* root styles */
}
.links a:hover svg {
  color: var(--sections);
}
.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--sections); /* root styles */
  transition: var(--transition); /* root styles */
}
.social-icons a:hover {
  color: rgb(134, 167, 240);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-gray);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: rgb(87, 4, 4);
  transition: var(--transition); /* root styles */
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

/*=============================================
=                ADD TRUCKS MODAL            =
=============================================*/
.boot-button {
  border-color: transparent !important;
  background-color: var(--sections) !important;
  text-align: center;
  text-justify: center;
  display: flex;
  font-size: 1.5rem !important;
  width: clamp(10rem, -0.875rem + 8.333vw, 10rem);
  height: clamp(3rem, -0.875rem + 8.333vw, 4.5rem);
  min-width: 6rem;
  min-height: 2rem;
  background: var(--sections);
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(59, 75, 119, 0.45);
  text-shadow: 0px 4px 4px rgba(164, 188, 236, 0.45);
  outline-style: none;
}

.close-trucks-modal {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(212, 31, 31);
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
}

.truck-modal-header {
  color: black;
  font-family: var(--font-fam)
}

