*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
  =============== 
  Home
  ===============
  */

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  color: var(--sections);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  outline: none;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.modal-btn {
  position: fixed;
  top: 2rem;
  right: 3rem;
  text-transform: uppercase;
  background: var(--sections);
  color: white;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 0.5rem;
  outline: none;
}
.modal-btn:hover {
  transition: all 0.3s linear;
  background: transparent;
}

/*
  =============== 
  Modal
  ===============
  */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition); /* root styles */
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: white;
  border-radius: var(--radius); /* root styles */
  width: 90vw;
  height: 30vh;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: rgb(121, 36, 36);
  cursor: pointer;
  outline: none;
}

/*
    =============== 
    Sidebar
    ===============
    */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--sections); /* root styles */
  transition: var(--transition); /* root styles */
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}
.close-btn:hover {
  color: rgb(241, 129, 129);
}
.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: gray;
  transition: var(--transition); /* root styles */
  letter-spacing: var(--spacing); /* root styles */
}

.links a:hover {
  background: gray;
  color: gray;
}
.links a svg {
  font-size: 1.5rem;
  color: gray;
  margin-right: 1rem;
  transition: var(--transition); /* root styles */
}
.links a:hover svg {
  color: gray;
}
.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--sections); /* root styles */
  transition: var(--transition); /* root styles */
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: rgb(87, 4, 4);
  transition: var(--transition); /* root styles */
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
