/* Accordian for customer details */
.customer-details {
    padding: 1rem 1.5rem;
    border: 2px solid rgb(173, 173, 173);
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  }
  .customer-details h4 {
    text-transform: none;
    line-height: 1.5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  }
  
  .customer-details p:first-child:before {
    content: " ";
    display: block;
    border-bottom: 1px solid black;
    width: 25%;
  }
  
  .customer-details p {
    color: var(--dark-gray);
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-weight: bold;
  }
  
  .customer-details header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .customer-details header h4 {
    margin-bottom: 0;
  }
  
  .key {
    color: var(--accent);
    text-shadow: 0px 4px 4px rgba(79, 6, 88, 0.45);
  }
  
  .ac-btn {
    background: transparent;
    border-color: transparent;
    width: 2rem;
    height: 2rem;
    background: var(--sections);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text);
    cursor: pointer;
    margin-left: 1rem;
    align-self: center;
    min-width: 2rem;
    box-shadow: 0px 4px 4px rgba(59, 75, 119, 0.45);
    outline-style: none;
  }
  