.grid-container {
    height: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template: 
    "m h h h h h h h"
    "m a a a a a a a"
    "m e e e e e e e"
    ;
    grid-template-rows: 10% minmax(400px, 870px) 5%;
    align-content: center;
    justify-content: center;
    border: purple 1px solid;
  }
  
  .header-grid {
    grid-area: h;
    font-size: 3rem;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(122, 123, 126, 0.45);
    background: white;

  }

  .menu-grid {
    grid-area: m;
    background: white;
    padding: 20px;
    text-align: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 30px ;
  }
  
  .about-grid {
    grid-area: a;
    justify-content: center;
    background: white;
    padding: 20px;
  }
  
  .email-grid {
    grid-area: e;
    display: flex;
    justify-content: space-around;
    background: white;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }