.grid-container {
    height: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template: 
    "m h h h h h h h"
    "m a a a a a a a"
    "m e e e e e e e"
    ;
    grid-template-rows: 10% minmax(400px, 870px) 5%;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    align-content: center;
    justify-content: center;
    border: purple 1px solid;
    max-width: 100%;
  }
  
  .all-grid-items{
    display: flex;
    text-shadow: 0px 4px 4px rgba(122, 123, 126, 0.45);
    background: white;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
  .header-grid {
    grid-area: h;
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: bold;
  }

  .menu-grid {
    display: grid;
    grid-area: m;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    align-content: space-around;
  }
  
  .about-grid {
    flex-direction: column;
    grid-area: a;
    padding: 20px;
    overflow:scroll;
  }
  
  .email-grid {
    grid-area: e;
    justify-content: space-around;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }