.grid-container {
    height: 100%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns: [main-start] 1fr [content-start] 5fr [content-end main-end];
    grid-template-rows: [main-start] 120px [content-start] 730px [content-end] 100px [main-end];
    align-content: center;
    justify-content: center;
    border: purple 1px solid;
  }
  
  .header-grid {
    grid-column: main;
    font-size: 3rem;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(122, 123, 126, 0.45);
    background: white;

  }

  .menu-grid {
    background: white;
    padding: 20px;
    text-align: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 30px ;
  }
  
  .about-grid {
    grid-area: content;
    justify-content: center;
    background: white;
    padding: 20px;
  }
  
  .email-grid {
    grid-column: main;
    display: flex;
    justify-content: space-around;
    background: white;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }