*,
:root {
  --dark: #12121f;
  --dark-gray: #303133;
  --light: #f7f8fc;
  --accent: #380082;
  --modal: #3949ab;
  --sections: #1f85b4;
  --sections-hover: #036d9e;
  --text: #f5f5f5;
}
/* 
#root {
  height: 100vh;
} */
/* 
html {
  height: 100%;
  width: 100%;
} */

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

code {
  font-family: "Montserrat", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-gray);
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  padding: 10px;
  margin: 10px;
}

/* Paragraph text class for large screens */
.body-text {
  color: var(--text);
  padding: 20px 100px 20px;
  text-align: center;
}

/* Paragraph text class for small screens */
@media only screen and (max-width: 800px) {
  .body-text {
    color: var(--text);
    padding: 20px 50px 20px;
    text-align: center;
  }
}

.container-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  padding-left: 2rem;
  position: relative;
}

input {
  display: flex;
  border: black 1px solid;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 2rem);
}

input:hover {
  background-color: var(--dark-gray);
  color: var(--light);
}

.section {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
  text-align: center;
}

.section-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  display: flex;
  color: black;
  padding-top: 1rem;
  text-shadow: 0px 4px 4px rgba(122, 123, 126, 0.45);
  width: 100%;
  justify-content: center;
}

/* Underline class */
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--light);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* Heading class for page headings */
.heading {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
  display: flex;
  color: var(--text);
  padding-top: 1rem;
  text-shadow: 0px 4px 4px rgba(85, 86, 90, 0.45);
  justify-content: center;
}

.heading:hover {
  color: var(--sections);
}

/* Container for buttons */
.btn-container {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* Main button styles for entire site */
.btn {
  background: transparent;
  border-color: transparent;
  width: clamp(10rem, -0.875rem + 8.333vw, 14rem);
  height: clamp(3rem, -0.875rem + 8.333vw, 4.5rem);
  min-width: 6rem;
  min-height: 2rem;
  background: var(--sections);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--text);
  cursor: pointer;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(59, 75, 119, 0.45);
  text-shadow: 0px 4px 4px rgba(164, 188, 236, 0.45);
  outline-style: none;
  text-align: center;
  margin: 8% 0;
  font-size: 1.5rem;
}

.btn:hover{
  transition: all 0.3s linear;
  background-color: var(--sections-hover);
}

/* Heading text for home page */
.home-header {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
  display: flex;
  color: var(--text);
  justify-content: center;
  padding-top: 15rem;
  text-shadow: 0px 4px 4px rgba(122, 123, 126, 0.45);
}

/* Container class for Home component */
.home-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

/* Main container class for all components */
.container {
  position: relative;
  overflow: hidden;
  margin: 20px;
}

/* Spacing between About us and Contact */
.container:first-child {
  margin-bottom: 50px;
}

/* Transparent overlay class for content on home page */
.content {
  position: absolute;
  top: 0;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 100%;
}

/* Aligning sub content on home page */
.sub-content {
  text-align: center;
  padding: 10px;
}

/* Home page background video */
.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Home page background image for smaller screens */
.bg-img {
  width: 100%;
  height: 100vh;
}

/* Accordian for customer details */
.customer-details {
  padding: 1rem 1.5rem;
  border: 2px solid rgb(173, 173, 173);
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
.customer-details h4 {
  text-transform: none;
  line-height: 1.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}

.customer-details p:first-child:before {
  content: " ";
  display: block;
  border-bottom: 1px solid black;
  width: 25%;
}

.customer-details p {
  color: var(--dark-gray);
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-weight: bold;
}

.customer-details header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer-details header h4 {
  margin-bottom: 0;
}

.key {
  color: var(--accent);
  text-shadow: 0px 4px 4px rgba(79, 6, 88, 0.45);
}

.ac-btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: var(--sections);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--text);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
  box-shadow: 0px 4px 4px rgba(59, 75, 119, 0.45);
  outline-style: none;
}

/* INVENTORY */

.side-btn-container {
  display: flex;
  width: 20%;
}

.section-center {
  background: rgba(0, 0, 0, 0.199);
  border-radius: 0.25rem;
  box-shadow: rgba(128, 128, 128, 0.212);
  transition: all 0.3s linear;
  padding: 2rem;
}
.section-center:hover {
  box-shadow: rgba(44, 44, 44, 0.589);
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

input:hover::placeholder {
  color: var(--light);
}

.truckLoad {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  transition: all 0.3s linear;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
.truckLoad:hover {
  color: gray;
  background: var(--dark-gray);
}

.items {
  margin-bottom: 0;
  color: var(--light);
  letter-spacing: 2px;
  transition: all 0.3s linear;
}

.items:hover {
  color: var(--sections);
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: .8rem;
  margin: 0 0.15rem;
  transition: all 0.3s linear;
}
.edit-btn {
  color: rgb(3, 129, 3);
}
.edit-btn:hover {
  color: rgb(8, 228, 8);
}
.delete-btn {
  color: rgb(170, 5, 5);
}
.delete-btn:hover {
  color: rgb(248, 0, 0);
}
/* .clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: red;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 1.25rem;
}
.clear-btn:hover {
  color: rgb(110, 14, 14);
} */
